[submodule "react/formula_react"]
	path = react/formula_react
	url = git@github.com:carmen0208/formula_react.git
[submodule "algorithm"]
	path = algorithm
	url = git@github.com:carmen0208/algorithm-ninja.git
[submodule "design"]
	path = design
	url = git@github.com:carmen0208/design-ninja.git
[submodule "rust/tryRust"]
	path = rust/tryRust
	url = git@github.com:carmen0208/tryRust.git
[submodule "react/ReduxSimpleStarter"]
	path = react/ReduxSimpleStarter
    url = git@github.com:carmen0208/ReduxSimpleStarter.git
[submodule "nodejs/12factornodedocker"]
	path = nodejs/12factornodedocker
	url = git@github.com:carmen0208/12factornodedocker.git

