<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

<ul>
    {{range .}}
        <li>{{uc .Manufacture}} - {{.Model}} -- {{.Doors}} doors </li>
    {{end}}
</ul>

</body>
</html>